{% extends "page.html" %} 
{% block main %}
  <div class="mx-auto max-w-lg px-4 py-12 sm:px-6 md:py-16">
    <div class="px-4 sm:px-0 border-b border-red-900 mb-2">
      <h1 class="text-lg font-bold leading-7 text-red-900 pb-2">{{ section.title }}</h1>
    </div>
    <ul role="list" class="divide-y divide-gray-100">
      <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
      {% for page in section.pages %}
      <li class="flex gap-x-4 py-1">
        <div class="min-w-0">
          <a href="{{ page.permalink | safe }}">
            <p class="text-sm font-semibold leading-6 text-gray-900">
              {{ page.title }}
            </p>
            <p class="truncate text-xs leading-5 text-gray-500">{{ page.date }}</p>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock main %}
